<div class="row mb-1">
  <div class="col-6">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-outline-primary">
        <i class="fa fa-filter"></i>
      </button>
      <button type="button" class="btn btn-outline-primary">
        <i class="fa fa-file-import"></i>
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="export()">
        <i class="fa fa-file-export"></i>
      </button>
    </div>
  </div>
  <div class="col-6 text-end">
    <button
      class="btn btn-success"
      (click)="enableAdd()"
      [disabled]="editEnabled || addEnabled"
    >
      <i class="fa fa-add"></i>
    </button>
  </div>
</div>

<form (submit)="submit($event)">
  <table class="table table-striped border p-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Item</th>
        <th scope="col">Amount</th>
        <th scope="col">Paid By</th>
        <th scope="col">Paid With</th>
        <th scope="col">Paid On</th>
        <th scope="col">Category</th>
        <th scope="col">Tag</th>
        <th scope="col">Comment</th>
        <th scope="col" class="w-155-px">Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- Add row -->
      <tr *ngIf="addEnabled">
        <td>#</td>

        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="expense.item"
            (input)="validateField('item', expense.item)"
            [class.hiseb-invalid]="expenseError.item"
            name="item"
          />
          <div class="invalid-feedback d-block">
            {{ expenseError.item }}
          </div>
        </td>

        <td>
          <input
            type="number"
            [min]="0"
            [step]="1"
            class="form-control"
            [(ngModel)]="expense.amount"
            (input)="validateField('amount', expense.amount)"
            [class.hiseb-invalid]="expenseError.amount"
            name="amount"
            required
          />
          <div class="invalid-feedback d-block">
            {{ expenseError.amount }}
          </div>
          {{ expense.amount }}
        </td>

        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="expense.paidBy"
            (input)="validateField('paidBy', expense.paidBy)"
            [class.hiseb-invalid]="expenseError.paidBy"
            name="paidBy"
            required
          />
          <div class="invalid-feedback d-block">
            {{ expenseError.paidBy }}
          </div>
        </td>

        <td>
          <select
            class="form-control"
            [(ngModel)]="expense.paidWith"
            (input)="validateField('paidWith', expense.paidWith)"
            [class.hiseb-invalid]="expenseError.paidWith"
            required
            name="paidWith"
          >
            <option value="UPI">UPI</option>
            <option value="Credit Card">Credit Card</option>
            <option value="Debit Card">Debit Card</option>
            <option value="Cash">Cash</option>
          </select>
          <div class="invalid-feedback d-block">
            {{ expenseError.paidWith }}
          </div>
        </td>

        <td>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="expense.paidOn"
            (input)="validateField('paidOn', expense.paidOn)"
            [class.hiseb-invalid]="expenseError.paidOn"
            required
            name="paidOn"
          />
          <div class="invalid-feedback d-block">
            {{ expenseError.paidOn }}
          </div>
        </td>

        <td>
          <select
            class="form-control"
            [(ngModel)]="expense.category"
            (input)="validateField('category', expense.category)"
            [class.hiseb-invalid]="expenseError.category"
            required
            name="category"
            [compareWith]="equals"
            [ngStyle]="{
              'background-color': expense.category
                ? expense.category.background
                : '#fffff',
              color: expense.category ? expense.category.font : '#000000'
            }"
          >
            <option
              *ngFor="let category of categories"
              [ngValue]="category"
              [ngStyle]="{
                'background-color': category.background,
                color: category.font
              }"
            >
              {{ category.label }}
            </option>
          </select>
          <div class="invalid-feedback d-block">
            {{ expenseError.category }}
          </div>
        </td>

        <td>
          <select
            class="form-control"
            [(ngModel)]="expense.tag"
            (input)="validateField('tag', expense.tag)"
            [class.hiseb-invalid]="expenseError.tag"
            required
            name="tag"
            [compareWith]="equals"
            [ngStyle]="{
              'background-color': expense.tag
                ? expense.tag.background
                : '#fffff',
              color: expense.tag ? expense.tag.font : '#000000'
            }"
          >
            <option
              *ngFor="let tag of tags"
              [ngValue]="tag"
              [ngStyle]="{
                'background-color': tag.background,
                color: tag.font
              }"
            >
              <app-chip [chip]="tag"></app-chip>
            </option>
          </select>
          <div class="invalid-feedback d-block">
            {{ expenseError.tag }}
          </div>
        </td>

        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="expense.comment"
            name="comment"
          />
        </td>

        <td>
          <button class="btn btn-success me-2" type="submit">
            <i class="fa fa-save"></i>
          </button>
          <button
            class="btn btn-secondary me-2"
            type="button"
            (click)="resetAdd()"
          >
            <i class="fa-solid fa-rotate-left"></i>
          </button>
          <button class="btn btn-danger" type="button" (click)="cancelAdd()">
            <i class="fa fa-xmark"></i>
          </button>
        </td>
      </tr>

      <ng-container *ngFor="let expense of expenses; let i = index">
        <!-- Rows -->
        <tr *ngIf="!expense.editing">
          <td>{{ i + 1 }}</td>
          <td>
            {{ expense.item }}
          </td>
          <td>
            {{ expense.amount | currency : "INR" }}
          </td>
          <td>
            {{ expense.paidBy }}
          </td>
          <td>
            {{ expense.paidWith }}
          </td>
          <td>
            {{ expense.paidOn | date }}
          </td>
          <td>
            <app-chip
              *ngIf="expense.category"
              [chip]="expense.category"
            ></app-chip>
          </td>
          <td>
            <app-chip *ngIf="expense.tag" [chip]="expense.tag"></app-chip>
          </td>
          <td>
            {{ expense.comment }}
          </td>
          <td>
            <button
              class="btn btn-primary me-2"
              (click)="enableEdit(expense)"
              [disabled]="editEnabled || addEnabled"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-danger"
              (click)="enableDelete(expense)"
              [disabled]="editEnabled || addEnabled"
            >
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>

        <!-- Editing row -->
        <tr *ngIf="expense.editing">
          <td>{{ i + 1 }}</td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="expense.item"
              (input)="validateField('item', expense.item)"
              [class.hiseb-invalid]="expenseError.item"
              name="item"
            />
            <div class="invalid-feedback d-block">
              {{ expenseError.item }}
            </div>
          </td>

          <td>
            <input
              type="number"
              [min]="0"
              [step]="1"
              class="form-control"
              [(ngModel)]="expense.amount"
              (input)="validateField('amount', expense.amount)"
              [class.hiseb-invalid]="expenseError.amount"
              name="amount"
              required
            />
            <div class="invalid-feedback d-block">
              {{ expenseError.amount }}
            </div>
          </td>

          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="expense.paidBy"
              (input)="validateField('paidBy', expense.paidBy)"
              [class.hiseb-invalid]="expenseError.paidBy"
              name="paidBy"
              required
            />
            <div class="invalid-feedback d-block">
              {{ expenseError.paidBy }}
            </div>
          </td>

          <td>
            <select
              class="form-control"
              [(ngModel)]="expense.paidWith"
              (input)="validateField('paidWith', expense.paidWith)"
              [class.hiseb-invalid]="expenseError.paidWith"
              required
              name="paidWith"
            >
              <option value="UPI">UPI</option>
              <option value="Credit Card">Credit Card</option>
              <option value="Debit Card">Debit Card</option>
              <option value="Cash">Cash</option>
            </select>
            <div class="invalid-feedback d-block">
              {{ expenseError.paidWith }}
            </div>
          </td>

          <td>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="expense.paidOn"
              (input)="validateField('paidOn', expense.paidOn)"
              [class.hiseb-invalid]="expenseError.paidOn"
              required
              name="paidOn"
            />
            <div class="invalid-feedback d-block">
              {{ expenseError.paidOn }}
            </div>
          </td>

          <td>
            <select
              class="form-control"
              [(ngModel)]="expense.category"
              (input)="validateField('category', expense.category)"
              [class.hiseb-invalid]="expenseError.category"
              required
              name="category"
              [compareWith]="equals"
              [ngStyle]="{
                'background-color': expense.category
                  ? expense.category.background
                  : '#fffff',
                color: expense.category ? expense.category.font : '#000000'
              }"
            >
              <option
                *ngFor="let category of categories"
                [ngValue]="category"
                [ngStyle]="{
                  'background-color': category.background,
                  color: category.font
                }"
              >
                {{ category.label }}
              </option>
            </select>
            <div class="invalid-feedback d-block">
              {{ expenseError.category }}
            </div>
          </td>

          <td>
            <select
              class="form-control"
              [(ngModel)]="expense.tag"
              (input)="validateField('tag', expense.tag)"
              [class.hiseb-invalid]="expenseError.tag"
              required
              name="tag"
              [compareWith]="equals"
              [ngStyle]="{
                'background-color': expense.tag
                  ? expense.tag.background
                  : '#fffff',
                color: expense.tag ? expense.tag.font : '#000000'
              }"
            >
              <option
                *ngFor="let tag of tags"
                [ngValue]="tag"
                [ngStyle]="{
                  'background-color': tag.background,
                  color: tag.font
                }"
              >
                <app-chip [chip]="tag"></app-chip>
              </option>
            </select>
            <div class="invalid-feedback d-block">
              {{ expenseError.tag }}
            </div>
          </td>

          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="expense.comment"
              name="comment"
            />
          </td>
          <td>
            <button
              class="btn btn-success me-2"
              type="submit"
              (click)="edit(expense)"
            >
              <i class="fa fa-save"></i>
            </button>
            <button
              class="btn btn-secondary me-2"
              type="button"
              (click)="resetEdit(expense)"
            >
              <i class="fa-solid fa-rotate-left"></i>
            </button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="cancelEdit(expense)"
            >
              <i class="fa fa-xmark"></i>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</form>

<div class="modal" id="deleteExpense" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn btn-link text-danger p-0"
          data-dismiss="modal"
          aria-label="Close"
          (click)="cancelDelete()"
        >
          <i class="fa fa-lg fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body" *ngIf="backupExpense">
        Are you sure you want to delete expense
        <b>{{ backupExpense.item }}</b> paid with
        <b>{{ backupExpense.paidWith }}</b> on
        <b>{{ backupExpense.paidOn | date }}</b> by
        <b>{{ backupExpense.paidBy }}</b> ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary me-auto"
          (click)="cancelDelete()"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="remove()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
