<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">Amount vs Paid By</div>
      <div class="card-body">
        <canvas id="amountVsPaidBy" height="400"></canvas>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">Amount vs Paid With</div>
      <div class="card-body">
        <canvas id="amountVsPaidWith" height="400"></canvas>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">Amount vs Category</div>
      <div class="card-body">
        <canvas id="amountVsCategory" height="400"></canvas>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">Amount vs Tag</div>
      <div class="card-body">
        <canvas id="amountVsTag" height="400"></canvas>
      </div>
    </div>
  </div>
</div>
<app-loader [show]="showLoader"></app-loader>